.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin-right: 5px;
}

.page-link {
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-container h2 {
    margin: 0;
    margin-right: 20px;
}

.header-container button {
    margin-right: 20px;
}

.search-input {
    max-width: 90px; /* Możesz dostosować szerokość */
    padding: 20px;
    font-size: 14px;
    margin-right: 20px;
    float: right;
}

/* Opcjonalne style dla przycisku dodaj */
.add-button img {
    width: 20px; /* Dostosuj szerokość obrazka */
    height: auto;
}
