.form-container{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 550px;
    min-width: 700px;

    justify-content: center;
    align-items: center;
}
.table-container{
    margin-left: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    alignment: center;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-item {
    margin-right: 5px;
}

.page-link {
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.table-container{
    min-width:500px ;
    min-height: 300px;
}