/* Style dla kontenera formularza */
div {
    background-color: #444; /* Ciemne tło dla formularza */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Style dla pól input */
input[type="text"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

/* Style dla przycisku */
button {
    background-color: white; /* Biały przycisk */
    color: black;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}
