.report-form .add-customer-form, .report-form .client-description {
    margin-top: 10px;
}

.report-form textarea {
    width: 100%;
    height: 100px; /* Zwiększ wysokość */
}

.add-customer-form input, .add-customer-form select {
    width: 100%;
    margin-bottom: 10px;
}
