/* components/SideMenu.css */

.side-menu {
    width: 300px;
    background-color: #333;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    overflow-y: auto;
    max-height: 100vh;
}
.no-bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-menu.closed .no-bullet a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75px;
}
.side-menu.closed .toggle-button {
    width: 75px;
}
.side-menu.open {
    width: 300px;
}
.side-menu.closed {
    width: 80px;
    overflow: hidden;
}

.side-menu.closed a span {
    display: none;
}

.side-menu .fa-icon {
    margin-right: 8px;
}
.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.menu-items.hidden {
    display: none;
}
.logoff{
    margin-right: 3px;
}
.toggle-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
}


.side-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.side-menu a:hover {
    background-color: #555;
}


.content {
    margin-left: 200px;
    padding-top: 50px;
}


.side-menu.closed li a {
    display: none;
    list-style-type: none;
}