/* components/SideMenu.css */

.side-menu {
    width: 300px;
    background-color: #333;
    color: white;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    overflow-y: auto; /* umożliwia przewijanie */
    max-height: 100vh; /* maksymalna wysokość menu */
}
.no-bullet {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
}
.side-menu.closed .no-bullet a {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the icons */
    max-width: 75px;
}
.side-menu.closed .toggle-button {
    width: 75px; /* Ensure the toggle button also resizes */
}
.side-menu.open {
    width: 300px; /* Full width when menu is open */
}
.side-menu.closed {
    width: 80px; /* Smaller width when menu is closed */
    overflow: hidden; /* Hide overflowing content */
}
/* Hide text labels in closed state */
.side-menu.closed a span {
    display: none;
}
/* Optional: Style for the FontAwesomeIcon */
.side-menu .fa-icon {
    margin-right: 8px; /* Add some spacing between icon and text */
}
.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 50px; /* Dostosuj według potrzeb */
}

.menu-items.hidden {
    display: none;
}
.logoff{
    margin-right: 3px;
}
.toggle-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
}

/* Styl pozycji w menu */
.side-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.side-menu a:hover {
    background-color: #555;
}

/* Styl dla treści, aby uniknąć nakładania się na menu */
.content {
    margin-left: 200px; /* Dostosuj szerokość do szerokości SideMenu */
    padding-top: 50px; /* Dostosuj, aby uniknąć nakładania się na top-bar */
}

/* Dodatkowe style dla SideMenu.css, aby ukryć tekst w zwiniętym menu */
.side-menu.closed li a {
    display: none;
    list-style-type: none;
}